<div class="form-panel">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.email_field :email, placeholder: 'Email', class: 'form-input' %><br>
  <%= f.password_field :password_digest, placeholder: 'Password', class: 'form-input'%>
  <div class="actions">
    <%= f.submit 'Create Account', class: 'btn btn-main form-submit' %>
  </div>
<% end %>
<br><br>
<p class="main-subtext" style="font-size: 31px;">By creating an account you agree to the SERVO <br><%= link_to 'Terms and Conditions of Service', '#' %></p>
</div>
