<p id="notice"><%= notice %></p>
<style>
  a {
    display: block;
  }
  .btn {
    margin-bottom: 15px;
  }

  .btn-group {
   width: 90%;
   margin-left:55px;
  }
</style>
<div class="profile">
<img src="/images/good_man.jpg" style="border-radius: 50%;" height="300" width="300">

<h2 class="greeting">Good afternoon, John!</h2>

<div class="btn-group">
<%= link_to 'Call for help', edit_user_path(@user), class: 'btn btn-normal' %>
<%= link_to 'Back', users_path, class: 'btn btn-normal' %>
<%= link_to 'Settings', '#', class: 'btn btn-normal' %>
<%= link_to 'FAQs', '#', class: 'btn btn-normal' %>
</div>
</div>
