<%= render 'layouts/top_logo' %>
<h2 class="home-title">Welcome to Servo!</h2>
<p class="main-subtext">Non emergency medical transportation that's quick, reliable, and convenient.</p>
<div class="subsection">
  <%= link_to "Sign in", signin_path, class: 'btn btn-main' %>
</div>
