<% @user = User.first %>
<p id="notice"><%= notice %></p>
<style>
  a {
    display: block;
  }
  .btn {
    margin-bottom: 15px;
  }

  .btn-group {
   width: 90%;
   margin-left:55px;
  }

  .greeting {
    font-size: 50px !important;
    color: black !important;
  }
</style>
<div class="profile">

<h2 class="greeting">Good afternoon, John!</h2>

<div class="btn-group">
<%= link_to 'Request a ride', req_path, class: 'btn btn-normal' %>
<%= link_to 'How it Works', '#', class: 'btn btn-normal' %>
<%= link_to 'Call us for help', '#', class: 'btn btn-normal' %>
<%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-normal' %>
</div>
</div>
