<style>
  html {
    color: black !important;
  }
  button {
    padding: 10px;
    font-size: 25px;
  }
  img {
    width: 100%;
    height: auto;
  }
</style>


<h1>WE'RE COMING!</h1>
<img src="https://i1.wp.com/thegeek.life/wp-content/uploads/2015/05/uber-maps.jpg?resize=524%2C400&ssl=1" >

<h1>Other Options</h1>
<ol>
<% @rides.each do |r| %>
<li>
  <h2><%= r['display_name'] %></h2>
  <p><%= r['short_description'] %></p>
  <h4>Cost per minute: $0.<%= r['price_details']['cost_per_minute'] %></h4>
  <button>ACCEPT</button>
</li><br><br>
<% end %>
</ol>
