<%= form_for(@rider) do |f| %>
  <% if @rider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
      <% @rider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email, "Email address" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <label>Insurance Provider</label><br>
    <%= f.collection_select :ins_provider_id, InsCompany.all, :id, :name, { include_blank: true } %><br>
  </div>
  <div class="field">
    <%= f.label :ins_card_photo, "Add a photo of Insurance Card" %><br>
    <%= f.file_field :ins_card_photo %>
  </div>
  <div class="field">
    <%= f.check_box :tos_agreed %>
    <%= f.label :tos_agreed, 'I agree to the Terms and Conditions of Service' %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Account' %>
  </div>
<% end %>
