<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @rider.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rider.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rider.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rider.email %>
</p>

<p>
  <strong>Ins provider:</strong>
  <%= @rider.ins_provider_id %>
</p>

<p>
  <strong>Tos agreed:</strong>
  <%= @rider.tos_agreed %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @rider.provider %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
