html {
  font-family: sans-serif;
  background: linear-gradient(#fff, #e5e5e5);
  height: 100%;
  // background-color: #73e6fA;
  color: #858585;
}

.title {
  padding-top: 0px;
  text-align: center;
  margin-top: -60px;
  padding-bottom: 35px;
}

.home-title {
  padding-top: 0px;
  margin-top: -35px;
  font-size: 52px;
  text-align: center;
}

.main-subtext {
  font-size: 38px;
  text-align: center;
  padding: 0px 100px 54px 100px;
  margin-top: 5px;
}

.subsection {
  text-align: center;
}

.btn {
  border: 1px solid #73e6fA;
  padding: 30px 180px;
  border-radius: 40px;
  font-size: 40px;
  text-decoration: none;
}

.btn-main {
  color: #fff;
  background-color: #47c0ff;
}

.btn-normal {
  color: black;
  background-color: #858585;
}

.form-panel {
  text-align: center;
  background-color: lightblue;
    width: 90%;
    margin: 0 auto;
    padding-top: 85px;
    margin-top: -95px;
    border: 1px solid lightblue;
    border-radius: 31px;
}

.form-submit {
  margin-top: 35px;
}

.form-input {
  border: 1px solid #333;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
  width: 60%;
  font-size: 32px;
}

.profile {
  padding-top: 76px;
  text-align: center;
}
